<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <ul>
        <li style="--clr:#00ade1">
            <a href="https://vijayrajendran.com" target="_blank" data-text="&nbsp;Portfolio">&nbsp;Portfolio&nbsp;</a>
        </li>
        <li style="--clr:#ff6492">
            <a href="/glow" data-text="&nbsp;Glow">&nbsp;Glow&nbsp;</a>
        </li>
        <li style="--clr:#ffdd1c">
            <a href="/login" data-text="&nbsp;Login">&nbsp;Login&nbsp;</a>
        </li>
        <li style="--clr:#00dc82">
            <a href="#" data-text="&nbsp;Blog">&nbsp;Blog&nbsp;</a>
        </li>
        <li style="--clr:#dc00d4">
            <a href="/reset_password" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
        </li>
    </ul>
</body>
</html>
